html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
div img {
    max-width: 288px;
}
.main-component {
    min-width: 320px;
    display: flex;
    flex-direction: column;
}