.outfit-bold {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.outfit-regular {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* Colors */
.slate-900 {
    color: hsl(218,44%,22%);
}
.slate-500 {
    color: hsl(216,15%,48%);
}
.slate-300 {
    color: hsl(212,45%,89%);
}

/* End */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.main-component > img {
    max-width: 288px;
}
.main-component {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 1.375rem;
    line-height: 120%;
    letter-spacing: 0;
}
p {
    font-size: 0.938rem;
    line-height: 140%;
    letter-spacing: 0.2px;
}
/* Mobile first styles end here */