:root {
    --slate-900: hsl(218,44%,22%);
    --slate-500: hsl(216,15%,22%);
    --slate-300: hsl(212,45%,89%);
}
.outfit-bold {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.outfit-regular {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--slate-300);
}
.main-component > img {
    max-width: 288px;
}
.main-component {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

h2 {
    font-size: 1.375rem;
    line-height: 120%;
    letter-spacing: 0;
    color: var(--slate-900);
}
p {
    font-size: 0.938rem;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: var(--slate-500);
}
/* Mobile first styles end here */